@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-content {
  @apply flex flex-col items-center justify-center w-[55px] h-[55px] xl:w-[100px] xl:h-[100px] bg-[#FFF4F4] shadow-md shadow-neutral-400 text-[9px] xl:text-[15px] xl:font-bold font-semibold cursor-pointer hover:bg-[#f8e4e4] active:translate-y-2 transition ease-in-out hover:scale-110 rounded-sm;
}

.sidebar-img {
  @apply ml-[15px] w-[20px] xl:ml-[30px] xl:w-[35px];
}

table,
th {
  @apply border-[1px] border-black border-collapse;
}

tr th {
  @apply bg-[#FFAEB2] !important;
}

tr:nth-child(odd) td {
  @apply bg-white !important;
  @apply border-[1px] border-black
}

tr:nth-child(even) td {
  @apply bg-[#FFAEB2] bg-opacity-50;
  @apply border-[1px] border-black
}

.sidebar-items {
  @apply flex items-center font-black text-[10px] xl:font-bold xl:text-[20px];
}

.sidebar-content {
  @apply border-l-2 transition-all ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --foreground-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --foreground-end-rgb: 0, 0, 0;
  }
}
